name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Run tests
        run: sbt test
        env:
          VIAPIKEY: ${{ secrets.VIAPIKEY }}
          VIAPITOKEN: ${{ secrets.VIAPITOKEN }}
